{{ form_start(form) }}
    <div class="row">
        <div class="col">
            {{ form_row(form.name) }}
        </div>  
        <div class="col">
            {{ form_row(form.surname) }}
        </div>
    </div>
    <div class="row">
        <div class="col">
            {{ form_row(form.caste) }}
        </div>  
        <div class="col">
            {{ form_row(form.knowledge) }}
        </div>
        <div class="col">
            {{ form_row(form.intelligence) }}
        </div>
    </div>
    {{ form_widget(form) }}
    <button class="btn border-light text-light">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
